<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ben.dvdhub"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashScreen"
            android:label="@string/title_activity_splash_screen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InsertActivity"
            android:label="@string/title_activity_insert" >
        </activity>
        <activity
            android:name=".ViewActivity"
            android:label="@string/title_activity_view" >
        </activity>
        <activity
            android:name=".ListActivity"
            android:label="@string/title_activity_list" >
        </activity>
        <activity
            android:name=".ListDVDs"
            android:label="@string/title_activity_list_dvds" >
        </activity>
        <activity
            android:name=".EditActivity"
            android:label="@string/title_activity_edit" >
        </activity>
    </application>

</manifest>
